@font-face {
    font-family: 'first-font';
    src: url(./fonts/HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.otf);
}
@font-face {
    font-family: 'second-font';
    src: url(./fonts/Tisa\ Sans\ Pro\ Black\ Italic.ttf);
}